{% extends "./base.html"%} 

{% block title %} Editar curso {% endblock %} 

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion del Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso/{{ curso.codigo }}" method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="txtCodigo" value="{{curso.codigo}}" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="numCreditos" name="numCreditos" value="{{curso.creditos}}" class="form-control" min="1" max="9" value="1" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-success btn-block txt-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}